@import "../global";


.scoring__container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.scoring__instructions {
  background-color: $gray100;
  width: 52%;
  padding: 2em 1.5em;
  p {
    // margin-bottom: 24px;
  }
}
.component__spacer {
  height: 24px;
}
.scoring__document {
  width: 48%;
  position: relative;
  img {
    -webkit-transform: scale(0.5);
    position: absolute;
    left: -117px;
    top: -194px;
  }
}
.measure__link {
  color: $blue300;
  text-decoration: underline;
  position: absolute;
  right: 12px;
  bottom: 108px;
}
.GraphsPlus {
  display: flex;
  justify-content: space-between;
}
.graphs {
  width: 52%;
  display: flex;
  justify-content: space-around;
}
.graphs__column {
  width: 40%;
}
.graph__container {
  width: 100%;
}
.graph__title {
  color: $gray300;
  font-size: 18px;
  margin: 32px 0;
  text-align: center;
}
.RelatedDiagnoses {
  width: 40%;
}
.related-diagnosis__link {
  width: 100%;
  background: $gray100;
  color: $gray300;
}
.related-diagnosis__button {
  width: 100%;
}
