@import "../global";


.scoring__container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.scoring__instructions {
  background-color: $gray100;
  width: 52%;
  padding: 2em 1.5em;
  p {
    // margin-bottom: 24px;
  }
}
.component__spacer {
  height: 24px;
}
.scoring__document {
  width: 48%;
  position: relative;
}
.pdf {
  position: absolute;
  right: 0;
  z-index: 0;
  width: 85%;
  background: white;
  // border: 2px solid $gray100;
}
.pdf-lines {
  position: absolute;
  right: 5px;
  top: 20px;
  z-index: 1;
  width: 70%;
}
