@import "../global";

.donutchart-track{
  fill: transparent;
  stroke: #DAE2E5;
  stroke-width: 16;
}
.donutchart-indicator {
  fill: transparent;
  stroke: #7FE1F6;
  stroke-width: 16;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}
.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}
.donutchart-text{
  fill: $blue100;
}
.donutchart-text-val{
  font-size:28px;
  font-weight: 700;
}
.donutchart-text-percent{
  font-size:28px;
}
.donutchart-text-label{
  font-size:9px;
}



// body{
//   padding:40px;
//   text-align:center;
// }
// input{
//   padding:8px 10px;
//   border-radius:4px;
//   border:1px solid #ddd;
//   width:154px;
// }
