@import "../global";

.intervention-arrow {
  position: absolute;
  top: 89%;
  left: 168px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid white;
}
.intervention__title {
  line-height: 3;
}
