@import '../global';

.search-icon {
  color: white;
  padding: 30px 20px;
}
.main__body li {
  color: #504f4f;
}
.goals-notes-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.note-component {
  background-color: #eeeeee;
  width: 48%;
  padding: 2em 1.5em;
}
.note-component li {
  list-style: none;
  margin-top: 25px;
  margin-left: 20px;
  text-indent: -20px;
}
.note-component li:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300;
}
.collapsible-component-assessment {
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
}
.collapsible-component-techniques {
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
}
.collapsible li {
  position: relative;
}
/*.clicker-parent {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1
  background: red;
}*/
/*.clicker {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: blue;
}*/
.down-arrow{
  position: absolute;
  right: 46%;
  top: 40%;
  width:20px;
}
.up-arrow{
  display: none;
  position: absolute;
  right: 46%;
  top: 40%;
  width:20px;
}
.up-arrow-one {display: none;}
.up-arrow-two{display: none;}
.up-arrow-three {display: none;}
.up-arrow-four {display: none;}
.up-arrow-five {display: none;}
.up-arrow-six{display: none;}
.up-arrow-seven {display: none;}
.up-arrow-eight {display: none;}
.up-arrow-nine {display: none;}
.collapse-icon-plus-one {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  float: right;
}
.collapse-icon-minus-one {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  display: none;
  float: right;
}
.collapse-icon-plus-two {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  float: right;
}
.collapse-icon-minus-two {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  display: none;
  float: right;
}
.homework-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  color: $blue300;
  background-color: $gray100;
}
