@import '../global';

.header {
  background-color: #3580a1;
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /*position: fixed;
  top: 0;*/
}
.back-arrow-parent {
  background-color: $blue300;
  width: 100px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-arrow {
}
.header-title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: white;
  padding: 30px 0;
}
.search-icon {
  color: white;
  padding: 30px 20px;
}
/*.nav-container {
  min-height:100%;
  width:100px;
  position:relative;
  display:inline-block;
}*/
.nav-bar {
  background-color: #01152a;
  width: 100px;
  position: absolute;
  left: 0;
  top: 95px;
  bottom: 0;
}
.nav-item {
  width: 100%;
  height: 220px;
  font-family: 'Lato', sans-serif;
  display: table;
}
.nav-item-interior {
  display: table-cell;
  vertical-align: middle;
}
.nav-icon-container {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.nav-icon {
  width: 50px;
}
.nav-spacer {
  background-color: #041b32;
  height: 14px;
}
/*.nav-overflow-exterior {
  height: 20vh;
}*/
.nav-overflow-interior {

}
/*.nav-overflow-exterior {
    min-height:100%;
    width:100%;
    position:relative;
    display:inline-block;
}
.nav-overflow-interior {
    width:20%;
    top:0px;
    left:0px;
    bottom:0px;
    position:absolute;
    background-color:yellow;
}*/
.main-body {
  background-color: white;
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 25px;
  font-family: 'Lato', sans-serif;
  height: calc(1024px - 95px);
  overflow: scroll;
}
.main-body li {
  color: #504f4f;
}
.problem-solve-container {
  background-color: #eeeeee;
  width: 100%;
  padding: 2em 1.5em;
  margin-bottom: 25px;
}
.component-title {
  font-size: 23px;
  color: $blue300;
  margin-bottom: 13px;
  font-weight: 700;
}
.component-text {
  color: #504f4f;
  font-size: 18px;
  line-height: 1.3;
}
.goals-notes-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.goal-component {
  background-color: #eeeeee;
  width: 48%;
  padding: 2em 1.5em;
}
.goal-component li {
  list-style: none;
  margin-top: 25px;
  margin-left: 20px;
  text-indent: -20px;
}
.goal-component li:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300; /* or whatever color you prefer */
}
.note-component {
  background-color: #eeeeee;
  width: 48%;
  padding: 2em 1.5em;
}
.note-component li {
  list-style: none;
  margin-top: 25px;
  margin-left: 20px;
  text-indent: -20px;
}
.note-component li:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300;
}
.Collapsible {
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
}
.collapsible-component-assessment {
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
}
.collapsible-component-techniques {
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
}
.collapsible li {
  position: relative;
}
/*.clicker-parent {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1
  background: red;
}*/
/*.clicker {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: blue;
}*/
.down-arrow{
  position: absolute;
  right: 46%;
  top: 40%;
  width:20px;
}
.up-arrow{
  display: none;
  position: absolute;
  right: 46%;
  top: 40%;
  width:20px;
}
.up-arrow-one {display: none;}
.up-arrow-two{display: none;}
.up-arrow-three {display: none;}
.up-arrow-four {display: none;}
.up-arrow-five {display: none;}
.up-arrow-six{display: none;}
.up-arrow-seven {display: none;}
.up-arrow-eight {display: none;}
.up-arrow-nine {display: none;}
.collapse-icon-plus-one {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  float: right;
}
.collapse-icon-minus-one {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  display: none;
  float: right;
}
.collapse-icon-plus-two {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  float: right;
}
.collapse-icon-minus-two {
  font-weight: 900;
  color: $blue300;
  font-size: 28px;
  display: none;
  float: right;
}
.homework-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  color: $blue300;
  background-color: $gray100;
}
.effective-container {
  margin-top: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  float: left;
}
.effective-link-item {
  background-color: #3580a1;
  margin: 15px 15px 15px 0;
  padding: 14px;
  display: inline-block;
  letter-spacing: 1px;
}
.effective-link-item img {
  margin-left: 10px;
  width: 8px;
}
