//   SCSS VARIABLES
// FONT WEIGHTS
    // 100
    // 300
    // 400
    // 700
    // 900


// PALETTE
$blue50: #DAE0E6;
$blue100: #3480a1;
// $blue200: ;
$blue300: #154f74;
$blue400: #01152a;

$gray100: #eeeeee;
$gray150: #999999;
$gray200: #504f4f;

*, div, p {
  font-family: 'Lato', sans-serif;
}

p {
  color: $gray200;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}
a {
  text-decoration: none;
}

.main__body {
  background-color: white;
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 25px;
  font-family: 'Lato', sans-serif;
  height: calc(1024px - 98px);
  overflow: scroll;
}
.view__overview {
  background-color: #eeeeee;
  width: 100%;
  padding: 2em 1.5em;
  margin-bottom: 25px;
}

.view__overview-title {
  font-size: 23px;
  color: $blue300;
  margin-bottom: 13px;
  font-weight: 700;
}
.view__overview-text {
  color: #504f4f;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}
.Collapsible {
  background: $gray100;
  padding: 20px 28px;
  font-size: 24px;
  color: $blue300;
  font-weight: 700;
  margin-bottom: 16px;
  & p {
    margin: 16px 0;
  }
}
.Collapsible__trigger {
  display: block;
  // font-weight: 400;
  // text-decoration: none;
  position: relative;
  background: $gray100;
  color: $blue300;
  &:after {
    font-family: 'FontAwesome';
    content: '\f067';
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    transition: transform 300ms;
  }
  &.is-open {
    &:after {
      transform: rotateZ(180deg);
      content: '\f068';
    }
  }
}
.collapsible-sub_header__trigger {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
  display: block;
  position: relative;
  &:after {
    font-family: 'FontAwesome';
    display: block;
    content: '\f107';
    position: absolute;
    right: 50%;
    top: 2px;
    display: block;
    transition: transform 300ms;
  }
  &.is-open {
    margin-bottom: 0;
    &:after {
      transform: rotateZ(180deg);
    }
  }
}
.collapsible-sub_header {
  font-weight: 400;
  font-size: 20px;
}
.header {
  background-color: $blue100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
.back-arrow-parent {
  background-color: $blue300;
  width: 100px;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-weight: 500;
  font-size: 36px;
  color: white;
  padding: 30px 0;
}
.box {
  background-color: $gray100;
  width: 100%;
  padding: 2em 1.5em;
  margin-bottom: 25px;
}
.box__title {
  font-size: 24px;
  color: $blue300;
  margin-bottom: 13px;
  font-weight: 700;
}
.box__body {
  color: $gray200;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}
.box__bullet-narrow {
  color: $gray200;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  width: 48%;
  &:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300;
  }
}
.box__bullet-wide {
  color: $gray200;
  line-height: 1.3;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  &:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300;
  }
}
.box li {
  list-style: none;
  margin-top: 25px;
  margin-left: 20px;
  text-indent: -20px;
}
.box li:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300; /* or whatever color you prefer */
}
.half-box {
  background-color: $gray100;
  width: 48%;
  padding: 2em 1.5em;
}
.half-box li {
  list-style: none;
  margin-top: 25px;
  margin-left: 20px;
  text-indent: -20px;
}
.half-box li:before {
    content: "• ";
    letter-spacing: 3px;
    color: $blue300; /* or whatever color you prefer */
}
.dark-box__container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dark-box {
  background: $blue50;
  width: 48%;
  margin-bottom: 18px;
}
.dark-narrow-box {
  background: $blue50;
  width: 31%;
  margin-bottom: 18px;
}
.dark-box__header {
  background: $gray150;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 24px 12px;
  text-align: center;
  vertical-align: middle;
}
.dark-box__content {
  padding: 24px 12px;
}
.dark-box__link {
  color: $blue300;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  &:after {
    content: ">";
    margin-left: 6px;
  }
}
.component__title {
  font-size: 23px;
  color: $blue300;
  margin-bottom: 13px;
  font-weight: 700;
}
.component__title-sub {
  font-size: 18px;
  color: $blue300;
  line-height: 4;
}
.ih-button__container {
  margin: 24px 0;
  width: 100%;
}
.ih-button__container-title {
  font-size: 23px;
  color: $blue300;
  margin-bottom: 13px;
  font-weight: 700;
  line-height: 2;
}
.ih-button {
  background-color: $blue100;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 15px 15px 15px 0;
  padding: 14px;
  display: inline-block;
  letter-spacing: 1px;
  vertical-align: middle;
  &:after {
    content: url('/assets/white-right-arrow.png');
    margin-left: 10px;
    width: 8px;
  }
}
.navigation-button {
  background-color: $gray100;
  color: $gray200;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 10px;
  width: 100%;
  font-weight: 400;
  margin: 15px 15px 15px 0;
  padding: 14px;
  position: relative;
  letter-spacing: 1px;
  vertical-align: middle;
  &:after {
    content: url('/assets/right-arrow.png');
    position: absolute;
    right: 20px;
    width: 8px;
  }
}
.navigation__body {
  position: relative;
  background-color: white;
  width: calc(100% - 178px);
  margin-left: 178px;
  padding: 25px 25px 50px 25px;
  height: calc(1024px - 102px);
  overflow: scroll;
}
.navigation__link-spacer {
  width: 100%;
  height: 40px;
}
