.header {
  background-color: #3580a1;
  width: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.back-arrow-parent {
  background-color: #154f74;
  width: 100px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-arrow {
}
.header-title {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: white;
  padding: 30px 0;
}
.search-icon {
  color: white;
  padding: 30px 20px;
}
.nav-bar {
  background-color: #01152a;
  width: 100px;
  height: auto;
  position: absolute;
  left: 0;
}
/*.nav-overflow {
  background-color: #01152a;
  width: 100px;
  height: 100vh;
}*/
.nav-item {
  width: 100%;
  height: 220px;
  font-family: 'Lato', sans-serif;
  display: table;
}
.nav-item-interior {
  display: table-cell;
  vertical-align: middle;
}
.nav-icon-container {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.nav-icon {
  width: 50px;
}
.nav-spacer {
  background-color: #041b32;
  height: 14px;
}
.main-body {
  background-color: white;
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 25px;
  font-family: 'Lato', sans-serif;
}
.main-body li {
  color: #504f4f;
}
.problem-solve-container {
  background-color: #eeeeee;
  width: 100%;
  padding: 2em 1.5em;
  margin-bottom: 25px;
}
.component-title {
  font-size: 23px;
  color: #154f74;
  margin-bottom: 13px;
  font-weight: 700;
}
.component-text {
  color: #504f4f;
  font-size: 18px;
  line-height: 1.3;
}
.goals-notes-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.goal-component {
  background-color: #eeeeee;
  width: 48%;
  padding: 2em 1.5em;
}
.goal-component li {
  margin-bottom: 25px;
}
.note-component {
  background-color: #eeeeee;
  width: 48%;
  padding: 2em 1.5em;
}
.collapsible-component-title {
  font-size: 24px;
  color: #154f74;
  font-weight: 700;
  position: relative;
}
.collapse-icon {
  font-weight: 900;
  color: #154f74;
  font-size: 28px;
  position: absolute;
  right: 25px;
  /*margin-left: 74%;*/
}
.homework-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  color: #154f74;
  background-color: #eeeeee;
}
.effective-container {
  margin-top: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  float: left;
}
.effective-link-item {
  background-color: #3580a1;
  margin: 15px 15px 15px 0;
  padding: 14px;
  display: inline-block;
}
.effective-link-item img {
  margin-left: 10px;
}
